<html>
    <head>
        <title>Dan's Blog!</title>
    </head>
    <body>
    	<div>
    		<h1><a href="">Dan's First Entry into History</a></h1>
    	</div>
    	
    	<div>
    		<p>published: TODAY WOOHOO!</p>
    		<h2><a href="">Dan's Second Entry into History</a></h2>
    		<p>Latin text here</p>
    	</div>
    	
    	<div>
    		<p>published: TODAY AS WELL WOOHOO!</p>
    		<h2><a href="">Dan's Second Entry into History</a></h2>
    		<p>Latin text here as well</p>
    	</div>
    	   
    </body>
</html>